<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://soda-labo.github.io/images/smu_scis_logo_w400.jpg' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>IS111 - In-Class Exercises</h3><h3>Week 13</h3></th>
    </tr>
</table>

## Revisions Week 13

### 1. Which variables below are not valid (i.e., will cause an error)?

<table align="left" class="table table-bordered" style="width:40%">
<tr>
<th style="text-align:center; width:20%">No</th>
<th style="text-align:center; width:50%">name</th>
<th style="text-align:center;">valid?</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>interest-rate</td><td>no</td></tr>
<tr><td style="text-align:center; ">b.</td><td>apple&#95;tv&#95;123</td><td>yes</td></tr>
<tr><td style="text-align:center; ">c.</td><td>COUNTER</td><td>yes</td></tr>
<tr><td style="text-align:center; ">d.</td><td>4&#95;you</td><td>no</td></tr>
<tr><td style="text-align:center; ">e.</td><td>&#95;account&#95;balance</td><td>no</td></tr>
<!-- <tr><td style="text-align:center; ">f.</td><td>fruit.apple</td><td></td></tr> -->
<!-- <tr><td style="text-align:center; ">g.</td><td>I&#95;love&#95;programming!</td><td></td></tr> -->
<!-- <tr><td style="text-align:center; ">h.</td><td>gold&#95;is&#95;expensive&#95;&#36;</td><td></td></tr> -->
</table>

### 2. Evaluate the following expressions:

<table align="left" class="table table-bordered" style="width:50%">
<tr>
<th style="text-align:center; width:5%">#</th>
<th style="text-align:center; width:30%">Expression to evaluate</th>
<th style="text-align:center; width:10%">Result</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>print (15 // 7 + 15 % 4)</td><td>5</td></tr>
<tr><td style="text-align:center; ">b.</td><td>print (16 / 4)</td><td>4.0</td></tr>
<tr><td style="text-align:center; ">c.</td><td>print (3 > 5 or not 9 - 5 != 4)</td><td>True</td></tr>
<tr><td style="text-align:center; ">d.</td><td>print (19 // 3 &#8727;&#8727; 2 &#8727; 2)</td><td>4</td></tr>
<tr><td style="text-align:center; ">e.</td><td>print(2 &#8727;&#8727; 2 &#8727;&#8727; 3)</td><td>256</td></tr>
<tr><td style="text-align:center; ">f.</td><td>print(int('10' + '2'), str(10 + 2))</td><td>102 12</td></tr>
</table>

In [2]:
# a.
print (15 // 7 + 15 % 4)

5

In [3]:
# b.
print (16 / 4)

4.0

In [4]:
# c.
print (3 > 5 or not 9 - 5 != 4)

True

In [1]:
# d.
print (19 // 3 ** 2 * 2)

4

In [5]:
# e.
print(2 ** 2 ** 3)

256

In [6]:
# Compare the following with e. above.
print((2 ** 2) ** 3)

64

In [7]:
# f.
print(int('10' + '2'), str(10 + 2))

102 12

### 3. What is the output of the following code?

#### a)

In [9]:
list1 = []
for n in range(1, 15):
    if n % 5 == 0 or n % 3 == 0:
        list1.append(n)
print(list1) #[3, 5, 6, 9, 10, 12]

[3, 5, 6, 9, 10, 12]

#### b)

In [12]:
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8]

my_list = list1[1:4] + [len(list1)] + list2[len(list2)-3:] #[3, 5, 7, 5, 4, 6, 8]
my_list.append(len(list2)) #[3, 5, 7, 5, 4, 6, 8, 4]
my_list.append(list1[1:2]) #[3, 5, 7, 5, 4, 6, 8, 4, [3]] list[1:2] returns a list
print(my_list)  #[3, 5, 7, 5, 4, 6, 8, 4, [3]]

[3, 5, 7, 5, 4, 6, 8, 4, [3]]

#### c)

In [13]:
def mystery1(my_list, word):
    for i in range(len(my_list)):
        if word in my_list[i]:
            my_list[i] = '*'

str_list = ['apple', 'banana', 'durian', 'mango', 'pear']
mystery1(str_list, 'p')
print(str_list) #['*', 'banana', 'durian', 'mango', '*']

['*', 'banana', 'durian', 'mango', '*']

#### d)

In [14]:
def mystery2(my_list, word):
    for item in my_list:
        if word in item:
            item = '*'
    
str_list = ['apple', 'banana', 'durian', 'mango', 'pear']
mystery2(str_list, 'p')
print(str_list) #['apple', 'banana', 'durian', 'mango', 'pear']

['apple', 'banana', 'durian', 'mango', 'pear']

#### e)

In [15]:
def modify_1(x, y):
    x[0] = y

my_list = [1, 2, 3]
modify_1(my_list, 99)
print(my_list) #[99, 2, 3]
    
my_dict = {1:0, 0:1}
modify_1(my_dict, 99)
print(my_dict) #{1:0, 0:99}

my_str = '123'
modify_1(my_str, '9')
print(my_str) #error

[99, 2, 3]
{1: 0, 0: 99}

TypeError: 'str' object does not support item assignment

#### f) ***difficult***

In [25]:
def modify_2(x, y):
    x.append(y)

def modify_3(x, y):
    x = x + [y] #x is local variable, not modifying list directly
    

my_list = [1, 2, 3]
modify_2(my_list, 99) #[1, 2, 3, 99]
print(my_list) #[1, 2, 3, 99]

my_list = [1, 2, 3]
modify_3(my_list, 99) #[1, 2, 3, 99]
print(my_list) #[1, 2, 3]

[1, 2, 3, 99]
[1, 2, 3]

### 4. Vowels

Write a program that prompts the user for a string and displays the string where all the vowels ('a', 'e', 'i', 'o', 'u') (case insensitive) have been replaced by *.

```
Enter a sentence :Mississippi River Meets Ohio River
New sentence     :M*ss*ss*pp* R*v*r M**ts *h** R*v*r
```

In [27]:
# Write your code here

my_str = input("Enter a sentence :")
vowels = 'aeiou'
new_str = ''
for ch in my_str:
    if ch.lower() in vowels:
        new_str += '*'
    else:
        new_str += ch
print(new_str)

M*ss*ss*pp* R*v*r M**ts *h** R*v*r

### 5. Digits

Define a function called `display_chars_after_digits`. The function takes in a string `my_str` as its parameter. The function prints those non-digit characters that appear immediately after a segment of digits in `my_str`.

E.g., 

- `display_chars_after_digits('1a2b3c')` prints `abc`
- `display_chars_after_digits('123ABC456')` prints `A`
- `display_chars_after_digits('abc12ABC0& 35.9-6.30=29.6')` prints `A&.-.=.`

In [41]:
# Write your code here

def display_chars_after_digits(my_str):
    return_str = ''
    for ch_index, ch in enumerate(my_str[:len(my_str)-1]):
        if ch.isnumeric() == True:
            if my_str[ch_index+1].isnumeric() == True:
                continue
            else:
                return_str += my_str[ch_index+1]
    
    return return_str

In [42]:
# prints abc
display_chars_after_digits('1a2b3c')

'abc'

In [43]:
# prints A
display_chars_after_digits('123ABC456')

'A'

In [44]:
# prints A&.-.=.
display_chars_after_digits('abc12ABC0& 35.9-6.30=29.6')

'A&.-.=.'

### 6. Rectangles

#### (a)

Define a function called `get_total_area`. The function takes in a parameter called `rect_list`. It is a list of tuples, where each tuple contains two integers, representing the width and length of a rectangle. The function returns the total area of all the rectangles in the list. Note that the area of a rectangle is equal to its width multiplied by its length.

E.g., `get_total_area([(1, 2), (4, 5), (2, 9)])` returns 40 (because the area of the first rectangle is 2, the area of the second rectangle is 20 and the area of the third rectangle is 18).

In [45]:
# Write your code here

def get_total_area(tuple_list):
    total_area = 0
    for rect_tuples in tuple_list:
        total_area += rect_tuples[0]*rect_tuples[1]
    return total_area

In [46]:
# prints 40
print(get_total_area([(1, 2), (4, 5), (2, 9)]))

40

#### (b)

Define a function called `get_largest_rectangle`. The function takes in the same parameter as the one above. It returns a tuple containing three integers: the first two are the width and length of the rectangle that has the largest area in `rect_list`, the third integer is its area. 

If there are two rectangles sharing the same size (i.e., same area), the function should return the first such rectangle in `rect_list`.

E.g., `get_largest_rectangle([(1, 2), (4, 5), (2, 9), (10, 2)])` returns `(4, 5, 20)`. This is because the rectangle `(4, 5)` has the largest area of 20 among the rectangles. Although the last rectangle `(10, 2)` also has an area of 20, it appears after `(4, 5)` and therefore is not returned.

You can assume that the list `rect_list` contains at least one element.

In [51]:
# Write your code here

def get_largest_rectangle(tuple_list):
    max_rect_area = 0

    for rect_tuples in tuple_list:
        now_rect_area = 0
        now_rect_area += rect_tuples[0]*rect_tuples[1]
        if now_rect_area > max_rect_area:
            return_tuple = (rect_tuples[0], rect_tuples[1], now_rect_area)
            max_rect_area = now_rect_area
    return return_tuple

In [52]:
# The code below should print the tuple (4, 5, 20)
print(get_largest_rectangle([(1, 2), (4, 5), (2, 9), (10, 2)]))

(4, 5, 20)

### 7. User Input

Write some code that prompts the user for two integer numbers `num1` and `num2` and stops prompting the user when 

(1) `num1` is a multiple of 3 and `num2` is a multiple of 5,

__or__ 

(2) when the sum of the two numbers is a multiple of 7.

For example:

```
first number : 4
second number : 5
Not valid!

first number : 6
second number : 6
Not valid!

first number : 6
second number : 10
Bye!
```

Another example run:
```
first number : 17
second number : 4
Bye!
```

In [58]:
# Write your code here

num1 = int(input('first number : '))
num2 = int(input('second number : '))

while not((num1%3 == 0 and num2%5 == 0) or (num1+num2)%7 == 0):
    print("Not valid:")
    num1 = int(input('first number : '))
    num2 = int(input('second number : '))

print('Bye!')

Bye!

### 8. Segmentation
Define a function called ```segment``` that takes in a string called ```text``` as its parameter.

```text``` contains segments of texts separated by one of the following characters: ```|-=```.

You can assume that `text` doesn't start with or end with one of these separators, e.g., you won't have `'|abc='` as `text`.

For example, ```text``` may be ```'a b c|def-123 aaa=|(abc)'``` .

The segments inside the string are:

```
'a b c' ,  'def' , '123 aaa' , '' , '(abc)'
```

The function segments the input string and returns all the segments together with the separaters as a list.

For example, given the input string above, the function returns the following list:

```
['a b c', '|', 'def', '-', '123 aaa', '=', '', '|', '(abc)']
```

In [67]:
# Write your code here

def segment(text):
    return_str = ''
    return_list = []
    for ch in text:
        if ch != '=' and ch != '-' and ch != '|':
            return_str += ch
        else:
            return_list += [return_str]
            return_list += [ch]
            return_str = ''
    if return_str != '':
        return_list += [return_str]

    return return_list

In [68]:
print(segment('a b c|def-123 aaa=|(abc)'))

['a b c', '|', 'def', '-', '123 aaa', '=', '', '|', '(abc)']

## <font color = 'green'>Additional Questions</font>

### 9. What is the output of the following code?

#### a)

In [69]:
list2 = []
for n in range(2, 20):
    if n % 2 == 0 and n % 7 == 0:
        list2.append(n) #[14]
print(list2) #[14]

[14]

#### b)

In [70]:
my_list = [3, 5, 7, 5, 4, 6, 8, 4]

your_list = []
for n in my_list:
    if n not in your_list:
        your_list.append(n)
print(your_list) #[3, 5, 7, 4, 6, 8]

[3, 5, 7, 4, 6, 8]

#### c)

In [72]:
def mystery1(a, b, c):
    a = b + c
    d = 2 * a
    print(d)
    return a + b / c

c = 2
b = 3
a = 4
d = mystery1(a, b, c) #10
print(d) #6.5

10
6.5

#### d)

In [74]:
def mystery2(s1, s2):
    s = s1[1:len(s1)] + s2[0:3] #'ello wor'
    to_return = s.split('o') #['ell', 'w', 'r']
    return to_return
    
str1 = 'hello'
str2 = 'world'
unknown = mystery2(str1, str2)
print(unknown) #['ell', 'w', 'r']

['ell', 'w', 'r']

#### e)

In [76]:
def mystery5(x, y=10, z='SMU'):
    print(x + y)
    print(z + ' Student Association')

In [77]:
mystery5(3) #13 #'SMU Student Assciation'

13
SMU Student Association

In [78]:
mystery5(3, 2) #5 #'SMU Student Association'

5
SMU Student Association

In [79]:
mystery5(3, 2, 'SUTD') #5 #'SUTD Student Association'

5
SUTD Student Association

In [82]:
mystery5(3, z='NTU') #13 #'NTU Student Association'

13
NTU Student Association

In [83]:
mystery5(3, y=5, z='NUS') #8 #'NUS Student Association'

8
NUS Student Association

In [85]:
mystery5(3, 'NUS') #error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### f)

In [ ]:
name_1 = 'Good morning!'
name_2 = 'Good evening!'

print (name_1[0] + name_1[5] + name_1[len(name_1) - 1])

print (name_1[0:4], name_2[5:])

substr = name_2[5:9] + 't'
print(substr)
print(substr[::-1])

### 10. 
Given the Python code below, what will be the output of the code for the following values of n?

In [92]:
if n <= 5:
    print('Morning')
else: 
    if n > 20:
        print('Afternoon')
    elif n < 10:
        print('Evening')
    elif n > 8:
        print('Night')
    else:
        print('Day')

Night

<table align="left" class="table table-bordered" style="width:40%">
<tr>
<th style="text-align:center; width:5%">No</th>
<th style="text-align:center; width:5%">Value of a</th>
<th style="text-align:center; width:10%">Output</th>
</tr>
<tr><td style="text-align:center; ">a.</td><td>n = 2</td><td>Morning</td></tr>
<tr><td style="text-align:center; ">b.</td><td>n = 7</td><td>Evening</td></tr>
<tr><td style="text-align:center; ">c.</td><td>n = 9</td><td>Evening</td></tr>
<tr><td style="text-align:center; ">d.</td><td>n = 18</td><td>Night</td></tr>
</table>

#### <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Which value of n will print 'Day' on the screen?
None

### 11. 

#### (a)

Write a program that prompts the user for a positive integer. The program prints out the odd integers between 1 and the number (both inclusive).


```
Enter a number :10
1 3 5 7 9 
```

```
Enter a number :5
1 3 5
```

In [98]:
# Write your code here

num = input("Enter a number :")
return_str = ''
while int(num) <= 0:
    num = input("Enter a number :")
for ints in range(1,int(num)+1):
    if ints%2 == 1:
        return_str += str(ints) + ' '
print(return_str)

1 3 5

#### (b) 

Write a program that prompts the user for a positive integer. Call this number $n$. The program then displays all the even numbers between 0 and 2$n$ (both inclusive).

```
Enter a number :10
0 2 4 6 8 10 12 14 16 18 20 
```

Other sample run:

```
Enter a number :15
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 
```

In [102]:
# Write your code here

num = input("Enter a number :")
return_str = ''
while int(num) <= 0:
    num = input("Enter a number :")
for ints in range(0,2*int(num)+1):
    if ints%2 == 0:
        return_str += str(ints) + ' '
print(return_str)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

### 12.

Observe the output below and write a program that prompts the user for a positive integer and prints out a sequence of numbers as shown below:

Sample run 1:

```
Enter a number :10
0 4 8 12 16 20 
```
Sample run 2:

```
Enter a number :35
0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 
```

In [104]:
# Write your code here

num = input("Enter a number :")
return_str = ''
while int(num) <= 0:
    num = input("Enter a number :")
for ints in range(0,2*int(num)+1):
    if ints%4 == 0:
        return_str += str(ints) + ' '
print(return_str)

0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68

### 13.

Write a program that takes in a string and prints out the characters with odd indices. 


```
Enter a sentence :Blue Lagoon
position 1: l
position 3: e
position 5: L
position 7: g
position 9: o

total: 5 characters at odd positions
```

In [106]:
# Write your code here

my_str = input("Enter a sentence :")
count = 0

for index, ch in enumerate(my_str):
    if index%2 == 1:
        print(f"position {index+1}: {ch}")
        count += 1
print(f'\ntotal: {count} characters at odd positions')

position 2: l
position 4: e
position 6: L
position 8: g
position 10: o

total: 5 characters at odd positions

### 14.

Define a function ```get_total_length()``` that takes in a list of strings as its parameter. The function returns the total length of all the strings in the list.

E.g. ```get_total_length(['123', '00', 'abcde'])``` should return 10.

In [107]:
# write you code here

def get_total_length(str_list):
    return_len = 0
    for items in str_list:
        return_len += len(items)

    return return_len

In [108]:
# prints 10
print(get_total_length(['123', '00', 'abcde']))

10